<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.c4605.reminder</string>
	<key>connections</key>
	<dict>
		<key>15D85CEE-9B96-4136-B374-04C05DFC1E48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>550B015B-28E3-4515-8ECE-89189C051C17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>550B015B-28E3-4515-8ECE-89189C051C17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3439054-4BC6-4E70-9DBF-CB2A9853CD5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>c4605</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reminder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>E3439054-4BC6-4E70-9DBF-CB2A9853CD5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rc</string>
				<key>text</key>
				<string>Reminder Clean Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15D85CEE-9B96-4136-B374-04C05DFC1E48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript update_cache.scpt
echo 'Reminder Cache Cleaned'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>550B015B-28E3-4515-8ECE-89189C051C17</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>source rbenv_support.sh

ruby list_reminders.rb "{query}"</string>
				<key>title</key>
				<string>Reminder List Items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E9096A8-FBC9-4D8B-A146-47DAE7E83135</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15D85CEE-9B96-4136-B374-04C05DFC1E48</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>550B015B-28E3-4515-8ECE-89189C051C17</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7E9096A8-FBC9-4D8B-A146-47DAE7E83135</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E3439054-4BC6-4E70-9DBF-CB2A9853CD5D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://plafer.info</string>
</dict>
</plist>
